@tailwind base;
@tailwind components;
@tailwind utilities;

.skills_card_container {
  @apply absolute top-0 left-0 w-full h-full bg-white border-black border-2 rounded-lg shadow-lg p-2;
  background: linear-gradient(to bottom, rgb(241, 241, 243) 0%, rgba(255, 255, 255, 1) 60%);
  transition: filter 0.3s ease-in-out; /* Smooth transition for blur */
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 400px; /* Adjust as needed */
}

.arrow {
  font-size: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 2; /* Ensure arrows are above cards */
}